<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <style>
        .reset-password-form {
            width: 500px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }

        .reset-password-form h1 {
            text-align: center;
            text-transform: uppercase;
            color: #4d4d4d;
            font-size: 25px;
            padding: 20px 0 20px 0;
        }

        .reset-password-form input[type="password"],
        .reset-password-form input[type="text"] {
            width: 100%;
            padding: 15px;
            border: 1px solid #dddddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        .reset-password-form button[type="button"] {
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }

        button#submitButton:disabled {
            cursor: not-allowed;
            background: #b9a9a9;
        }

        /* error block */
        .error-block {
            color: red;
            margin-bottom: 16px !important;
            position: relative;
            font-size: 13px;
        }

        .error-block span {
            position: absolute;
            top: -14px;
        }
    </style>
</head>

<body>
    <div class="reset-password-form">
        <h1>Reset Password</h1>
        <form>
            <input type="password" id="newPassword" oninput="passwordEntered()" name="newPassword"
                placeholder="Enter new password" required>
            <div class="error-block" id="newPasswordRequiredBlock" hidden>
                <span>Please enter new password</span>
            </div>
            <div class="error-block" id="newPasswordPatternError" hidden>
                <span>New password must contain 1 capital letter, 1 number and 1 special symbol</span>
            </div>
            <input type="password" id="confirmPassword" oninput="passwordEntered()" name="confirmPassword"
                placeholder="Confirm new password" required>
            <div class="error-block" id="confirmPasswordRequiredBlock" hidden>
                <span>Please confirm new password</span>
            </div>
            <div class="error-block" id="confirmPasswordPatternError" hidden>
                <span>Confirm password must contain 1 capital letter, 1 number and 1 special symbol</span>
            </div>
            <div class="error-block" id="matchingPasswordErrorBlock" hidden>
                <span>New and confirm password mismatched</span>
            </div>
            <button id="submitButton" type="button">Submit</button>
        </form>
    </div>

    <script>
        let regex = new RegExp(/^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[\~\`\!\@\#\$\%\^\&\*\(\)\_\+\-\=\{\}\[\]\:\;\"\'\|\\\<\,\>\.\?\/]).*$/);
        function passwordEntered() {

            // // regex testing
            // if (!regex.test(document.getElementById("confirmPassword").value) && !regex.test(document.getElementById("newPassword").value)) {
            //     document.getElementById("newPasswordPatternError").removeAttribute("hidden");
            //     document.getElementById("confirmPasswordPatternError").removeAttribute("hidden");
            //     return;
            // } else if (!regex.test(document.getElementById("confirmPassword").value)) {
            //     document.getElementById("confirmPasswordPatternError").removeAttribute("hidden");
            //     return;
            // } else if (!regex.test(document.getElementById("newPassword").value)) {
            //     document.getElementById("newPasswordPatternError").removeAttribute("hidden");
            //     return;
            // }

            // regex testing
            if (regex.test(document.getElementById("confirmPassword").value) && regex.test(document.getElementById("newPassword").value)) {
                document.getElementById("newPasswordPatternError").setAttribute("hidden", true);
                document.getElementById("confirmPasswordPatternError").setAttribute("hidden", true);
                // return;
            } else if (regex.test(document.getElementById("confirmPassword").value)) {
                document.getElementById("confirmPasswordPatternError").setAttribute("hidden", true);
                // return;
            } else if (regex.test(document.getElementById("newPassword").value)) {
                document.getElementById("newPasswordPatternError").setAttribute("hidden", true);
                // return;
            }

            // Matching passsword
            if (document.getElementById("newPassword").value == document.getElementById("confirmPassword").value) {
                document.getElementById("matchingPasswordErrorBlock").setAttribute("hidden", true);
                return;
            }

            // if password is not entered show error
            if (document.getElementById("newPassword").value != "" && document.getElementById("confirmPassword").value != "") {
                document.getElementById("newPasswordRequiredBlock").setAttribute("hidden", true);
                document.getElementById("confirmPasswordRequiredBlock").setAttribute("hidden", true);
                return;
            } else if (document.getElementById("newPassword").value != "") {
                document.getElementById("newPasswordRequiredBlock").setAttribute("hidden", true);
                return;
            } else if (document.getElementById("confirmPassword").value != "") {
                document.getElementById("confirmPasswordRequiredBlock").setAttribute("hidden", true);
                return;
            }

            // if password is entered hide error
            if (document.getElementById("newPassword").value == "" && document.getElementById("confirmPassword").value == "") {
                document.getElementById("newPasswordRequiredBlock").removeAttribute("hidden");
                document.getElementById("confirmPasswordRequiredBlock").removeAttribute("hidden");
                return;
            } else if (document.getElementById("newPassword").value == "") {
                document.getElementById("newPasswordRequiredBlock").removeAttribute("hidden");
                return;
            } else if (document.getElementById("confirmPassword").value == "") {
                document.getElementById("confirmPasswordRequiredBlock").removeAttribute("hidden");
                return;
            }
        }

        // adding event listener
        document.getElementById("submitButton").addEventListener("click", async () => {
            if (document.getElementById("newPassword").value == "" && document.getElementById("confirmPassword").value == "") {
                document.getElementById("newPasswordRequiredBlock").removeAttribute("hidden");
                document.getElementById("confirmPasswordRequiredBlock").removeAttribute("hidden");
                return;
            } else if (document.getElementById("newPassword").value == "") {
                document.getElementById("newPasswordRequiredBlock").removeAttribute("hidden");
                return;
            } else if (document.getElementById("confirmPassword").value == "") {
                document.getElementById("confirmPasswordRequiredBlock").removeAttribute("hidden");
                return;
            }

            // regex testing
            if (!regex.test(document.getElementById("confirmPassword").value) && !regex.test(document.getElementById("newPassword").value)) {
                document.getElementById("newPasswordPatternError").removeAttribute("hidden");
                document.getElementById("confirmPasswordPatternError").removeAttribute("hidden");
                return;
            } else if (!regex.test(document.getElementById("confirmPassword").value)) {
                document.getElementById("confirmPasswordPatternError").removeAttribute("hidden");
                return;
            } else if (!regex.test(document.getElementById("newPassword").value)) {
                document.getElementById("newPasswordPatternError").removeAttribute("hidden");
                return;
            }

            if (document.getElementById("newPassword").value != document.getElementById("confirmPassword").value) {
                document.getElementById("matchingPasswordErrorBlock").removeAttribute("hidden");
                return;
            }

            let res = await fetch(window.location.toString().split("?token=")[0], {
                method: 'post',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    newPassword: document.getElementById("newPassword").value,
                    confirmPassword: document.getElementById("confirmPassword").value,
                    resetPasswordToken: window.location.toString().split("?token=")[1]
                })
            });

            // if get success reponse then redirect to the specified page
            if (res && res.redirected) {
                window.location.href = res.url;
            }
        })
    </script>

</body>

</html>